.legal {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 2rem 0 5rem;
  padding: 0 0 5rem 0;

  a {
    color: var(--slate-7);
    text-decoration: none;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}
