.direction {
  font-size: 1.25rem;
  font-weight: 600;
}

.header {
  color: var(--contrast);
  flex-shrink: 0;
  padding-inline: 1rem;
}

.routeContent {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.routeStart {
  --line-offset: 0.75rem;
}

.trip {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 0.5rem;
  margin-bottom: 1.125rem;
}
