.base {
  background-color: var(--via-bg-primary);
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.content {
  width: 100%;
}

.direction {
  font-weight: 600;
}

.statusLine {
  background-color: light-dark(
    color-mix(in oklch, var(--via-line-bg), var(--via-bg-primary) 80%),
    color-mix(in oklch, var(--via-line-bg), var(--via-bg-primary) 60%)
  );
  border-radius: 0.375rem;
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.25rem;
}

.time {
  font-weight: 600;
}

.topLine {
  display: flex;
  gap: 0.625rem;

  & > :last-child {
    margin-left: auto;
  }
}
