.base {
  align-items: center;
  display: flex;
  flex-direction: column;

  &[data-via-orientation="horizontal"] {
    flex-direction: row;

    & .route {
      height: 0.125rem;
      width: auto;

      &.isPartial {
        border-bottom: 0.125rem dotted currentColor;
        border-right: none;
        height: 0;
      }

      &:has(+ .stop) {
        margin-bottom: 0;
        margin-right: -1px;
      }
    }

    & .stop + .route {
      margin-left: -1px;
      margin-top: 0;
    }
  }
}

.route {
  background-color: currentColor;
  flex-grow: 1;
  width: 0.125rem;

  &.isPartial {
    background: none;
    border-right: 0.125rem dotted currentColor;
    width: 0;
  }

  &:has(+ .stop) {
    margin-bottom: -1px;
  }
}

.stop {
  aspect-ratio: 1;
  border: 0.125rem solid currentColor;
  border-radius: 9999rem;
  flex-shrink: 0;
  height: 0.625rem;

  & + .route {
    margin-top: -1px;
  }
}
