.base {
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);
  position: fixed;
  width: 100%;

  &.isOpen {
    background-color: #FFF;
    border-radius: 0;
    height: 100vh;
    top: 0;

    @supports (height: 100dvh) {
      height: 100dvh;
    }
  }

  &.hasCurrentStatus:not(.isOpen) {
    background-color: var(--accent);
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  &.hasLiveCheckIn:not(.isOpen) {
    background-color: var(--sky11);
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}
