$color-bus: #A3007C;
$color-ferry: #284B63;
$color-national: #2B2D42; // #CC0605
$color-nationalExpress: #2B2D42;
$color-regional: #2B2D42;
$color-regionalExp: #2B2D42;
$color-suburban: #006F35;
$color-subway: #0065AE;
$color-taxi: #AF8000;
$color-tram: #D91A1A;
