@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/whiteA.css';

@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/crimson.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/sky.css';
@import '@radix-ui/colors/slate.css';

:root {
  --color-bus: #A3007C;
  --color-ferry: #284B63;
  --color-national: #2B2D42; /* #CC0605 */
  --color-nationalExpress: #2B2D42;
  --color-regional: #2B2D42;
  --color-regionalExp: #2B2D42;
  --color-suburban: #006F35;
  --color-subway: #0065AE;
  --color-taxi: #AF8000;
  --color-tram: #D91A1A;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--app-theme);
  font-size: 16px;
  line-height: 1.5;
}
