@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/white-alpha.css';

@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/crimson.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/sky.css';
@import '@radix-ui/colors/slate.css';

:root {
  --color-bus: #a3007c;
  --color-ferry: #284b63;
  --color-national: #2b2d42; /* #CC0605 */
  --color-nationalExpress: #2b2d42;
  --color-regional: #2b2d42;
  --color-regionalExp: #2b2d42;
  --color-suburban: #006f35;
  --color-subway: #0065ae;
  --color-taxi: #af8000;
  --color-tram: #d91a1a;

  --layout-width: 25rem;

  --tanish-50: #fff5ed;
  --tanish-100: #ffe7d5;
  --tanish-200: #feccaa;
  --tanish-300: #fda26b;
  --tanish-400: #fb783c;
  --tanish-500: #f95516;
  --tanish-600: #ea3a0c;
  --tanish-700: #c2290c;
  --tanish-800: #9a2212;
  --tanish-900: #7c1f12;
  --tanish-950: #430c07;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
}

html {
  height: 100%;

  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--app-theme);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
