@import '@/styles/index';

.base {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
  top: 0;

  @supports (height: 100dvh) {
    height: 100dvh;
  }
}
