@import '@/styles/index';

.base {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  top: 0;

  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

.route {
  padding: 0 1rem 1rem;

  .extraTime {
    margin-left: auto;
  }

  .station {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  .time {
    font-weight: 500;
    opacity: 0.85;
    padding-left: 0.5rem;
    white-space: nowrap;
  }
}
