@import '@/styles/index';

.base {
  background-color: var(--accent, --sky11);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.header {
  color: var(--contrast, #FFF);
}

.buttons {
  display: flex;
}

.backButton,
.confirmButton {
  align-items: flex-start;
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  gap: 1rem;
  padding: calc(1.75rem + env(safe-area-inset-top)) 1rem 1rem;
  width: 100%;

  .arrow {
    flex-shrink: 0;
    padding-right: 3rem;
  }

  span {
    text-align: left;
  }
}

.confirmButton {
  flex-shrink: 0;
  padding-left: 3rem;
  width: auto;
}

.lineName {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin: -2px auto 0;
}

.productIcon {
  height: 1.5rem;
}

.direction {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding-inline: 1rem;
  padding-top: 0.5rem;
}

.deviationNotice {
  align-items: center;
  border-radius: 0.375rem;
  display: inline-flex;
  font-size: 0.75rem;
  gap: 0.25rem;
  margin-inline: 1rem;
  opacity: 0.85;
  transform: translateY(-0.5rem);

  span {
    transform: skewX(-6deg);
  }
}

.destination,
.origin {
  margin-inline: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.625rem;
  position: relative;

  &::after {
    background-color: var(--accent);
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--contrast, #FFF);
    content: '';
    display: block;
    height: 6px;
    left: 2px;
    position: absolute;
    width: 6px;
  }

  &::before {
    background-color: var(--contrast, #FFF);
    content: '';
    display: block;
    height: calc(100% - 0.5625rem);
    left: 4px;
    position: absolute;
    width: 2px;
  }

  .station {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  .time {
    font-weight: 500;
    opacity: 0.85;
    padding-left: 0.5rem;
    white-space: nowrap;
  }
}

.origin {
  &::after,
  &::before {
    top: 0.5625rem;
  }
}

.destination {
  margin-bottom: 1rem;
  padding-bottom: 0;

  &::after {
    top: 0.5625rem;
  }

  &::before {
    height: 0.5625rem;
    top: 0;
  }
}

.liveCheckinBanner {
  align-items: center;
  display: flex;
  isolation: isolate;
  justify-content: space-between;
  padding: 1rem;
  position: relative;

  &::before {
    border-top: 1.5px solid rgba(var(--contrast-rgb), 0.2);
    content: '';
    left: 1rem;
    position: absolute;
    top: 0;
    width: calc(100% - 2rem);
  }

  button {
    align-items: center;
    appearance: none;
    background-color: rgba(var(--contrast-rgb), 0.2);
    border: none;
    border-radius: 0.375rem;
    color: var(--contrast);
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-size: 0.85rem;
    font-weight: 500;
    gap: 0.5rem;
    justify-content: center;
    margin-left: 1rem;
    overflow: hidden;
    padding: 0.75rem;
  }

  .description {
    font-size: 0.85rem;
  }

  .title {
    color: rgba(var(--contrast-rgb), 0.8);
    font-size: 1rem;
    font-weight: 600;
  }

  .watermark {
    left: 0;
    opacity: 0.05;
    position: absolute;
    top: 50%;
    transform: translate3d(-25%, -50%, 0) rotate(-157.5deg);
    z-index: -1;
  }
}

.liveCheckinTeaser {
  align-items: center;
  background-color: var(--slate2);
  border-radius: 0.375rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  isolation: isolate;
  overflow: hidden;
  padding: 1rem;
  position: relative;

  button {
    align-items: center;
    appearance: none;
    background-color: var(--sky11);
    border: none;
    border-radius: 0.375rem;
    color: var(--sky3);
    cursor: pointer;
    display: flex;
    font-weight: 500;
    gap: 0.5rem;
    justify-content: center;
    overflow: hidden;
    padding: 0.75rem;
    position: relative;
    width: 100%;
  }

  .description {
    text-align: center;
  }

  .title {
    color: var(--sky11);
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 2rem;
  }

  .watermark {
    color: var(--sky11);
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate3d(-50%, -50%, 0);
    z-index: -1;
  }
}

.sheet {
  background-color: #FFF;
  border-radius: 1rem 1rem 0 0;
  height: 100%;
  overflow: hidden;
}

.scrollArea {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  max-height: 100%;
  padding: 1rem;
}

.textarea {
  border: 1px solid var(--slate7);
  border-radius: 0.375rem;
  flex-shrink: 0;
  line-height: 1.5;
  max-height: 12rem;
  min-height: 4rem;
  padding: 0.375rem 0.5rem;
  resize: vertical;
  width: 100%;

  &:hover {
    border-color: var(--slate8);
  }

  &:focus-within {
    box-shadow: 0 0 0 2px #FFF, 0 0 0 4px var(--sky7);
    outline: none;
  }
}

.label {
  align-items: center;
  display: flex;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.characterLimit {
  font-size: 0.875rem;
  margin-left: auto;
}

.radioGroup {
  display: flex;
  // flex-direction: column;
  gap: 0.5rem;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.radioItem {
  align-items: center;
  appearance: none;
  background-color: var(--slate3);
  border: none;
  border-radius: 0.375rem;
  color: var(--sky12);
  cursor: pointer;
  display: flex;
  font-weight: 500;
  gap: 0.5rem;
  justify-content: center;
  overflow: hidden;
  padding: 0.75rem;
  position: relative;
  width: 100%;

  &:hover {
    background-color: var(--slate4);
  }

  &[data-state="checked"] {
    background-color: var(--sky4);
    color: var(--sky11);
  }

  span {
    margin-left: auto;
  }

  @media screen and (min-width: 600px) {
    padding: 0.625rem 0.75rem;
  }
}

.error {
  background-color: var(--crimson3);
  border-radius: 0.375rem;
  color: var(--crimson11);
  font-weight: 500;
  padding: 0.25rem 0.5rem;
}
