.base {
  border-radius: 50%;
}

.wrapper {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--sky4);
}
