.base {
  color: var(--contrast, #fff);
  padding-bottom: calc(1rem + env(safe-area-inset-bottom));
}

.destination,
.origin {
  margin-inline: 1rem;
  padding-left: 1.625rem;
  position: relative;

  &::after {
    background-color: var(--accent, var(--sky-11));
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--contrast, #fff);
    content: '';
    display: block;
    height: 6px;
    left: 2px;
    position: absolute;
    width: 6px;
  }

  &::before {
    background-color: var(--contrast, #fff);
    content: '';
    display: block;
    height: calc(100% - 0.5625rem);
    left: 4px;
    position: absolute;
    width: 2px;
  }

  .station {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  .time {
    font-weight: 500;
    opacity: 0.85;
    padding-left: 0.5rem;
    white-space: nowrap;
  }
}

.origin {
  &::after,
  &::before {
    top: 0.5625rem;
  }
}

.destination {
  padding-bottom: 0;

  &::after,
  &::before {
    top: 0.5625rem;
  }

  &::before {
    height: 0.5625rem;
    top: 0;
  }
}

.meta {
  align-items: center;
  color: rgba(var(--contrast-rgb, 255, 255, 255), 0.5);
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  gap: 1rem;
  padding: 0.5rem;
  position: relative;

  &::before {
    background-color: var(--contrast, #fff);
    content: '';
    display: block;
    height: calc(100%);
    left: 20px;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: -1;
  }

  div {
    align-items: center;
    display: flex;
    gap: 0.25rem;
  }
}

.lineIndicator {
  font-weight: 500;
}
