.base {
  position: relative;
  display: flex;

  text-decoration: none;
  color: var(--slate-12);

  font-size: 1.25rem;
}

.dot {
  position: absolute;
  height: 0.375rem;
  width: 0.375rem;
  background-color: var(--crimson-9);
  border-radius: 50%;
  right: -0.125rem;
  top: -0.125rem;
}
