@import '@/styles/index';

.base {
  background-color: var(--accent, --sky11);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  top: 0;

  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

.header {
  color: var(--contrast, #FFF);
}

.route {
  padding: 0 1rem 1rem;

  .extraTime {
    margin-left: auto;
  }

  .station {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  .time {
    font-weight: 500;
    opacity: 0.85;
    padding-left: 0.5rem;
    white-space: nowrap;
  }

  .upcoming {
    color: rgba(var(--contrast-rgb, 255, 255, 255), 0.5);
    transform: skewX(-6deg);
  }
}

.direction {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-weight: 600;
  gap: 0.5rem;
  padding: calc(1.75rem + env(safe-area-inset-top)) 1rem;
}

.lineIndicator {
  font-weight: 500;
}

.sheet {
  background-color: #FFF;
  border-radius: 1rem 1rem 0 0;
  height: 100%;
  overflow: hidden;
}

.creator {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding: 1rem 1rem 0;
}

.message {
  display: flex;
  gap: 1rem;
  margin: 1rem 1rem 0;

  img {
    border-radius: 50%;
  }
}

.username {
  font-weight: 600;
}

.body {
  line-height: 1.625;
  position: relative;

  &::before {
    color: var(--accent);
    content: '”';
    font-size: 3rem;
    font-weight: 600;
    left: -0.125rem;
    line-height: 0;
    margin-right: 0.125rem;
    position: relative;
    top: 1.25rem;
  }
}

.stats {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
  margin: 1rem;

  li {
    align-items: center;
    background-color: var(--slate2);
    border-radius: 0.375rem;
    color: var(--sky11);
    display: flex;
    font-size: 0.875rem;
    font-weight: 600;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
  }
}
