@import '@/styles/index';

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 2px rgba(#FFF, 0.5), 0 0 0 2px rgba(#FFF, 0.5);
  }

  50% {
    box-shadow: 0 0 0 2px rgba(#FFF, 0.5), 0 0 0 6px rgba(#FFF, 0);
  }

  75% {
    box-shadow: 0 0 0 2px rgba(#FFF, 0.5), 0 0 0 0 rgba(#FFF, 0);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(#FFF, 0.5);
  }
}

.base {
  list-style: none;
  padding: 0;
}

.entry {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: [decoration] 0.625rem [content] 1fr;

  &:not(:last-child) {
    --line-extension: 0.75rem;
    --line-offset: 0.75rem;
    --padding: 1rem;
  }

  .content {
    grid-area: content;
    padding-bottom: var(--padding, 0);
  }

  .decoration {
    display: flex;
    grid-area: decoration;
    isolation: isolate;
    justify-content: center;
    position: relative;
  }
}

.hybridLine {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--line-offset, 0px) + var(--line-extension, 0px));
  position: absolute;
  top: var(--line-offset, 0);
  z-index: -1;

  .bottom {
    border-left: 2px dotted rgba(#FFF, 0.5);
    flex: 1 1 40%;
    margin: 1.5px 0 6.5px;
  }

  .top {
    border-left: 2px solid #FFF;
    border-radius: 1rem;
    flex: 1 1 60%;
  }
}

.line {
  border-left: 2px solid #FFF;
  height: calc(100% - var(--line-offset, 0px) + var(--line-extension, 0px));
  position: absolute;
  top: var(--line-offset, 0);
  z-index: -1;

  &.partial {
    border-left: 2px dotted rgba(#FFF, 0.5);
    height: calc(100% - var(--line-offset, 0px) + var(--line-extension, 0px) - 14px);
    top: calc(var(--line-offset, 0px) + 7px);
  }

  &.rounded {
    border-radius: 1rem;
  }
}

.stopIndicator {
  background-color: var(--accent-color, var(--sky11));
  border-radius: 50%;
  box-shadow: 0 0 0 2px #FFF;
  height: 0.375rem;
  margin-top: 0.5625rem;
  position: absolute;
  top: var(--stop-offset, 0);
  width: 0.375rem;

  &.pulsating {
    animation: pulse 2s ease infinite;
    background-color: #FFF;
    box-shadow: 0 0 0 2px rgba(#FFF, 0.5);
  }
}

.time {
  font-weight: 500;
  opacity: 0.85;
  padding-left: 0.5rem;
  white-space: nowrap;
}
