.base {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media screen and (min-width: 900px) {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}

.keyVisual {
  background-image: url('/station-background.jpg');
  background-position: center;
  background-size: cover;
  height: 7.5rem;
  flex-shrink: 0;

  @media screen and (min-width: 900px) {
    height: unset;
  }
}

.hero {
  align-items: center;
  background-color: var(--blackA6);
  backdrop-filter: blur(0.25rem);
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 1rem;
  width: 100%;

  @media screen and (min-width: 900px) {
    padding: 4rem;
  }
}

.title {
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-shadow: 0 0 1rem var(--blackA11), 0 0 0.25rem var(--blackA12);
  transform: skew(-6deg);

  @media screen and (min-width: 900px) {
    font-size: clamp(1.75rem, 6vw, 4rem);
    text-align: left;
  }
}

.content {
  align-items: center;
  box-shadow: 0 -16px 15px -3px rgba(0, 0, 0, 0.1), 0 -4px 6px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  line-height: 1.75;
  padding: 2rem;
  text-align: center;

  a {
    color: var(--sky11);
    text-decoration: none;
  }

  @media screen and (min-width: 900px) {
    box-shadow: -25px 0 50px -12px rgba(0, 0, 0, 0.25);
  }
}

.logo {
  align-items: center;
  border: 1px dashed var(--sky6);
  border-radius: 0.375rem;
  color: #272727;
  display: flex;
  font-weight: 600;
  height: 4rem;
  justify-content: center;
  width: 60%;
}

.brand {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5ch;
  margin-top: auto;
}

.madeWith {
  align-items: center;
  display: inline-flex;
  font-weight: 500;
  gap: 0.5ch;
}

.footer {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
  margin-top: auto;
  width: 100%;

  span {
    margin-right: auto;
  }
}
