@import '@/styles/index';

.base {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}

.header {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding: 1rem 1rem;
}

.input {
  border: 1px solid var(--slate7);
  border-radius: 0.375rem;
  padding: 0.375rem 0.5rem;
  width: 100%;

  &:hover {
    border-color: var(--slate8);
  }

  &:focus-within {
    box-shadow: 0 0 0 2px #FFF, 0 0 0 4px var(--sky7);
    outline: none;
  }
}

.scrollArea {
  height: 100%;
}

.suggestions {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  max-height: 100%;
  overflow: scroll;
  padding: 0;

  li:not(:first-child) > .suggestion {
    margin-top: 3px;

    &::after {
      border-top: 1px solid var(--slate7);
      content: "";
      display: block;
      left: 1rem;
      position: absolute;
      right: 1rem;
      top: -2px;
    }
  }
}

.suggestion {
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  color: var(--slate12);
  cursor: pointer;
  display: flex;
  height: 3rem;
  padding: 0 1rem;
  position: relative;
  text-align: left;
  width: 100%;

  &:active {
    background-color: var(--sky5);
  }

  &:hover {
    background-color: var(--sky4);
  }

  mark {
    background-color: var(--sky6);
    border-radius: 0.25rem;
    color: var(--blue12);
    // padding-inline: 0.25rem;
  }
}
