.base {
  align-items: center;
  border-radius: 99rem;
  color: #FFF;
  display: flex;
  font-size: 0.75rem;
  height: 1.25rem;
  line-height: 1;
  min-width: 1.75rem;
  justify-content: center;
  padding: 0 0.375rem;
  white-space: nowrap;
}
