.base {
  overflow: hidden;
  position: relative;
  --scrollbar-size: 0.625rem;

  &::after,
  &::before {
    display: block;
    height: 3rem;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    transition: opacity 0.2s linear;
    z-index: 999999;
  }

  &::after {
    background-image: linear-gradient(to top, #FFF, #FFF0);
    bottom: 0;
    opacity: var(--bottom-fog-opacity, 1);
  }

  &::before {
    background-image: linear-gradient(to bottom, #FFF, #FFF0);
    border-radius: var(--top-fog-border-radius, 0) var(--top-fog-border-radius, 0) 0 0;
    opacity: var(--top-fog-opacity, 0);
    top: 0;
  }

  &.hasFog::after,
  &.hasFog::before {
    content: '';
  }
}

.scrollbar {
  // background-color: var(--blackA6);
  display: flex;
  padding: 2px;
  touch-action: none;
  transition: background-color 0.16s ease-out;
  user-select: none;
}

// .scrollbar:hover {
//   background-color: var(--blackA8);
// }

.scrollbar[data-orientation='vertical'] {
  width: var(--scrollbar-size);
}

.thumb {
  background-color: var(--slate10);
  border-radius: var(--scrollbar-size);
  flex: 1;
  position: relative;
}

.thumb::before {
  content: '';
  height: 100%;
  left: 50%;
  min-height: 44px;
  min-width: 44px;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
}

.viewport {
  height: 100%;
  overscroll-behavior: contain;
  width: 100%;
}
