.base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--sky4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

// create spin animation
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.25rem solid var(--sky11);
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
