.base {
  align-items: center;
  background-color: #FFF;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
  border-radius: 50%;
  border: 0.25rem solid var(--sky11);
  border-top-color: transparent;
  height: 4rem;
  width: 4rem;
}
