.base {
  background-color: var(--via-colored-layer-bg);
  border-radius: var(--via-colored-layer-radius);
  box-shadow: var(--via-shadow-xs);
  color: contrast-color(var(--via-colored-layer-bg));
}

.content {
  background-position: var(--via-bd-offset);
  background-size: calc(100% + 2 * var(--via-bd-width));
  border: var(--via-bd-width) solid var(--via-bd-tertiary);
  border-radius: var(--via-colored-layer-radius);
  box-shadow: var(--via-shadow-skeuomorphic);
  position: relative;

  &::before {
    border: var(--via-bd-width) solid var(--via-bd-highlight);
    border-radius: calc(var(--via-colored-layer-radius) - 2 * var(--via-bd-width));
    content: "";
    inset: var(--via-bd-width);
    mask-image: linear-gradient(to bottom, black, transparent);
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
  }
}
